body {
	background: #ccc;
 	}	




h1 {
	color: rgb( 15, 15, 255);
	background: rgb(150, 200, 0);
/*	border-color: purple;
	border-width: 5px;
	border-style: solid;*/
	border: 2px solid red;
}

li {
	color: 	rgba( 0, 200, 100, 1);
	/* the a (alpha) is for opacity of text. Goes from 0 to 1*/
}

h4 {
	color: purple;
}